.cardToday {
  height: 100vh;
  width: 32%;
  background-image: url("images/Cloud-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 7rem;
  background-color: var(--card-background-color);
  display: grid;
  justify-content: center;
  grid-template-rows: 10rem 15rem auto;
  float: left;
}
.top {
  grid-row: 1;
}
.image {
  width: 8rem;
  height: 11.25rem;
  grid-row: 2;
}
.infoToday {
  display: grid;
  justify-content: center;
  grid-template-rows: 8rem 5rem 3rem 2rem;
}
.infoToday h3 {
  font-size: 4.5rem;
}
.infoToday h3 span {
  font-size: 2rem;
  color: var(--colot-text-dark);
}
.infoToday .typeWeather {
  font-size: 2.25rem;
}
.infoToday p {
  color: var(--colot-text-dark);
}

@media (max-width: 768px) {
  .cardToday {
    height: 100vh;
    width: 100vw;
  }
}
